# Dependencies
/node_modules
/public/hot
/public/storage
/vendor
/storage/app/public

# Environment Files
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# Log & Cache Files
*.log
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
.phpunit.result.cache
/bootstrap/cache/*.php

# IDE & System Files
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.zed
.phpactor.json

# Docker
/docker-data

# Security
/storage/*.key